@model QuestionEditModel
@{
    ViewData["Title"] = "Details";
}

@if(Model != null)
{
   <div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-2 col-sm-2">
                 <button type="button" class="btn btn-primary btn-sm addQsn rounded" onclick="LoadQusnVote()"><i class="fa fa-chevron-up"></i></button>
                 <br />
                 <strong class="temp1 pl-3">@Model.Temp1</strong>
                 <br />
                 <button type="button" class="btn btn-primary btn-sm addQsn rounded" onclick="LoadQusnVote()"><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="text-dark">
                         <input type="text" hidden value="@Model.Id" class="getQuesId" />
                           <h3 class="ml-2">@Model.Title</h3>
                          <br />
                          <textarea class="form-control mb-3" rows="5" id="email" disabled>
                           @Model.QuestionBody
                          </textarea>
                        @if(Model.Tags != null)
                        {
                            foreach(var tag in Model.Tags)
                            {
                                <small class="ml-3 text-yellow">@tag.Name</small>
                            }
                        }
                    <br />
                    <div class="bg-info text-black">
                        <p class="ml-2 float-right">@Model.AuthorName</p>
                        <small class="float-right">@Model.CreatedAt</small>
                    </div>
                </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-2 col-sm-2"></div>
            
        </div>
            @if(Model.Answers != null)
            {
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-md-2"></div>
            <div class="col-md-2 col-sm-2">
                 <button type="button" class="btn btn-primary btn-sm addAns rounded" onclick="LoadAnsVote()"><i class="fa fa-chevron-up"></i></button>
                 <br />
                 <strong class="temp2 pl-3">@Model.Temp2</strong>
                 <br />
                 <button type="button" class="btn btn-primary btn-sm addAns rounded" onclick="LoadAnsVote()"><i class="fa fa-chevron-down"></i></button>
                 <br />
                 
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="bg-dark card my-3">
                  @foreach(var answer in Model.Answers)
                  {
                                <div>
                                    <input type="text" hidden value="@answer.Id" class="getAnsId" />
                                <textarea class="form-control text-white" rows="5" id="email" disabled>
                                  @answer.Description
                                </textarea>
                                <div class="float-right text-white">@answer.AuthorName</div>
                                </div>
                                if (answer.Comments != null)
                                {
                                    foreach(var comment in answer.Comments)
                                {
                                    <small>List of comment</small>
                                    <div class="card my-3 bg-info">
                                        <div>
                                        <p class="text-white">@comment.Description</p>
                                        <div class="float-right text-white">@comment.AuthorName</div>
                                    <div class="float-right text-white">@comment.CreatedBy</div>
                                    </div>
                                    </div>
                                    
                                    
                                    
                                    
                                }
                                }

                                <div class="mycomment">
                                    <input type="text" placeholder="add a comment" class="comText form-control"/>
                                    <button type="button" class="btn btn-info" onclick="Cmnt()">CommentBtn</button>
                                </div>
                  }
                </div>
            </div>
             <div class="col-md-2 col-md-2"></div>
            
        </div>
                    </div>
                </div> 
            }
            <div class="bg-light text-info pt-3">
                <h3>Your Answer</h3>
                <textarea class="form-control ansText" rows="5" id="email"></textarea>
                <button type="button" class="btn btn-outline-info" onclick="Ans()">AnswerBtn</button>
            </div>
            
    </div>
</div>
}





@section Scripts{

    <script>

    function LoadQusnVote() {
        var quesId = $(".getQuesId").val();

        $.ajax({
        url: '@Url.Action("AddQuestionVote", "Answer")',
        type: 'POST',
        cache: false,
        data: { 'quesId': quesId },
        success: function(result) { 
            location.href = `/Explorer/Question/Details/${quesId}`;
        },
        error: function (result) 
        {
            if(result.status == 401){
                location.href = '/Account/Login';
            }
        }
        });
    }
</script>
<script>

    function LoadAnsVote() {
        var answerId = $(".getAnsId").val();
        var quesId = $(".getQuesId").val();

        $.ajax({
        url: '@Url.Action("AddAnsVote", "Answer")',
        type: 'POST',
        cache: false,
        data: { 'answerId': answerId },
        success: function(result) { 
            location.href = `/Explorer/Question/Details/${quesId}`;
        },
        error: function (result) 
        {
            if(result.status == 401){
                location.href = '/Account/Login';
            }
        }
        });
    }
</script>
<script>
    
	function Cmnt(){
        var commentVal = $(".comText").val();
        if(commentVal == "")
        {
            alert("Comment value can not be null");
            return false;
        }
        var answerId = $(".getAnsId").val();
        var quesId = $(".getQuesId").val();

		LoadQuestion(commentVal,answerId,quesId);
	}
    function LoadQuestion(commentVal,answerId,quesId) {
        $.ajax({
        url: '@Url.Action("AddComment", "Answer")',
        type: 'POST',
        cache: false,
        data: { 'commentVal': commentVal, 'answerId' : answerId },
        success: function(result) { 
            location.href = `/Explorer/Question/Details/${quesId}`;
        },
        error: function (result) 
        {
            if(result.status == 401){
                location.href = '/Account/Login';
            }
        }
        });
    }
</script>

<script>  
	function Ans(){
        var answerText = $(".ansText").val();
        var quesId = $(".getQuesId").val();

        if(answerText == "")
        {
            alert("Answer value can not be null");
            return false;
        }

		LoadAnswer(answerText,quesId);
	}
    function LoadAnswer(answerText,quesId) {
        $.ajax({
        url: '@Url.Action("AddAnswer", "Answer")',
        type: 'POST',
        cache: false,
        data: { 'answerText': answerText, 'quesId' : quesId },
        success: function(result) { 
            //assignPost(result);
            location.href = `/Explorer/Question/Details/${quesId}`;
        },
        error: function (result) 
        { 
            if(result.status == 401){
                location.href = '/Account/Login';
            }
        }
        });
    }
</script>
@*<script>
function assignPost(result){
    var questionCard = ``;
    for (var i = 0; i < result.length; i++) {
        console.log(result[i]);
        var Id = result[i].id;
        var Title = result[i].title;
        var QuestionBody = result[i].questionBody;
        questionCard = `<div><input type="text" hidden value="${Id}" class="getAnsId" />
                        <textarea class="form-control" rows="5" id="email" disabled>
                         @answer.Description
                         </textarea>
                         <div class="float-right">@answer.AuthorName</div>
                         </div>`;
        $(questionCard).appendTo('#questions');
    }
    
}
</script>*@
}

